const config = {
    server: {
        protocol: process.env.FAUCET_SERVER_PROTOCOL || 'https',
        port: process.env.FAUCET_SERVER_PORT || 3000,
        host: process.env.FAUCET_SERVER_HOST || 'localhost'
    },
    ssl: {
        keyPath: process.env.FAUCET_SSL_KEY_PATH || '/shared/ssl/cert.key',
        certPath: process.env.FAUCET_SSL_CERT_PATH || '/shared/ssl/cert.pem'
    },
    demoTokenAddress: process.env.FAUCET_DEMO_TOKEN_ADDRESS || '0xfa19d4e302336d61b895ea3b26bf4864bdd1d8ab',
    account: process.env.FAUCET_ACCOUNT || '0x07f486c4ec2ade092abfe3261d0fc891e737e689',
    giveawayTokenAmounts: process.env.FAUCET_GIVEAWAY_TOKENS_AMOUNT || 100, // in ether
    ethereumHost: process.env.FAUCET_ETHEREUM_HOST || 'http://127.0.0.1:8545'
}

module.exports = config;